# **Big-Scale Analytics**

### ðŸ¤ª **epicalekspwner** ðŸ¤ª

In [ ]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.pipeline import FeatureUnion
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [ ]:
Phrases = pd.read_csv('https://raw.githubusercontent.com/epicalekspwner/BigScaleAnalytics2021/main/Datasets/Phrasee.txt?token=ARERL5C5TPKS3OS3BT45LBTAQBMVK', delimiter = "\t")
Niveau = pd.read_csv('https://raw.githubusercontent.com/epicalekspwner/BigScaleAnalytics2021/main/Datasets/Niveau.txt?token=ARERL5DPZFCUCVYD7L3ULODAQBMXA', delimiter = "\t")
Data = pd.DataFrame()
Data["Phrases"] = Phrases["Phrases"]
Data["Niveau"] = Niveau["Type (Maxime)"]

### **Sentence Lenght**

In [ ]:
# Note: you may have to change the dataset/column name

In [ ]:
def sentence_lenght(dataset):
  punctation_list = ['.', ';', ':', '?', '!', ',', '-', '[', ']']
  
  new_dataset = dataset['Phrases'].str.split()
  for i in new_dataset:
    if i in punctation_list:
      new_dataset.remove(i)

  lenght = new_dataset.apply(len)
  lenght_df = lenght.to_frame()
  lenght_df.rename(columns={'Phrases': 'Sentence Lenght'}, inplace=True)
  return lenght_df

In [ ]:
sentence_lenght(Data)

      Sentence lenght
0                  15
1                  23
2                  24
3                   6
4                  10
...               ...
1025              133
1026              127
1027              132
1028              148
1029               96

[1030 rows x 1 columns]

### **Punctuation Counter**

In [ ]:
# Note: you may have to change the dataset/column name

In [ ]:
def punctuation_counter_standalone(sentence):  
  counter = 0
  punctation_list = ['.', ';', ':', '?', '!', ',', '-', '[', ']']
  for i in range (0, len(sentence)):
    if sentence[i] in punctation_list:
      counter += 1
  return counter

In [ ]:
sent1 = "Jâ€™avais jurÃ© de laisser lÃ  les nonnes : car que toujours on voie en mes Ã©crits, mÃªme sujet, et semblables personnes, cela pourrait fatiguer les esprits."

In [ ]:
punctuation_counter_standalone(sent1)

5

In [ ]:
def punctuation_counter(dataset):
  counter = Data['Phrases'].apply(lambda x : punctuation_counter_standalone(x))
  counter_df = counter.to_frame()
  counter_df.rename(columns={'Phrases': 'Punctuation Counter'}, inplace=True)
  return counter_df

In [ ]:
punctuation_counter(Data)

      Punctuation Counter
0                       1
1                       1
2                       3
3                       1
4                       2
...                   ...
1025                   17
1026                   11
1027                   12
1028                   15
1029                   11

[1030 rows x 1 columns]